/* Import Variables */
@import url('variables.css');

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes sparkle {
    0% {
        filter: brightness(1) drop-shadow(0px 0px 2px rgba(255, 223, 0, 0.6));
        transform: scale(1.15);
    }

    100% {
        filter: brightness(2) drop-shadow(0px 0px 8px rgba(255, 223, 0, 1));
        transform: scale(1.2);
    }
}

@keyframes popIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-8px);
    }
}

/* General Styles */
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color), var(--tertiary-color));
    color: var(--text-color);
    font-family: var(--primary-font);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    animation: fadeIn 0.8s ease-in-out;
}

/* Main Container */
.container {
    margin: 1rem 0;
    max-width: 800px;
    padding: var(--spacing);
    background: var(--main-background-color);
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 20px var(--black-shadow);
}

/* Headings */
h1 {
    font-size: var(--h1-size);
    color: var(--title-color);
    font-family: var(--primary-font);
}

h2 {
    color: var(--title-color);
    font-size: var(--h2-size);
    margin: var(--h2-margin);
    text-align: center;
    text-transform: uppercase;
    font-family: var(--primary-font);
}

figcaption {
    font-size: 0.9rem;
    margin-top: 1rem;
}

.title-name {
    font-size: var(--h1-size);
    color: var(--title-color);
    font-family: var(--primary-font);
    padding: var(--h1-padding);
    animation: slideIn 1s ease-in-out;
}

/* Highlight Banner */
.highlight-banner {
    background: linear-gradient(135deg, #f0f0f0, #d9d9d9);
    /* Fondo plateado degradado */
    color: #1d1d1d;
    font-size: 1.3rem;
    text-align: center;
    padding: 3rem;
    margin: 40px 0;
    border-radius: var(--border-radius);
    box-shadow: 0px 8px 16px var(--black-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.highlight-banner:hover {
    transform: translateY(-5px);
    box-shadow: 0px 12px 24px var(--black-shadow)
}

/* Remarked banner */
.highlight-banner .highlight-text {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 0;
    border-top: 2px solid var(--remarked-banner-lines-color);
    border-bottom: 2px solid var(--remarked-banner-lines-color);
}

.highlight-banner .highlight-text p {
    font-family: 'Gigode', sans-serif;
    margin: 0;
    line-height: 1.5;
    font-size: 1.4rem;
    font-style: italic;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 3px var(--transparent-grey);
}

.highlight-keyphrase {
    color: var(--remarked-banner-remarked-text-color);
    font-weight: bold;
}

.highlight-icon {
    font-size: 3rem;
    animation: bounce 1.5s infinite alternate ease-in-out;
    color: var(--title-shadow-color);
}

/* Description Section */
.description {
    margin-top: var(--spacing);
    padding: var(--spacing);
    background: var(--carousel-background);
    border-radius: var(--border-radius);
    text-align: left;
    font-family: var(--secondary-font);
    font-size: var(--paragraph-size);
    line-height: 1.8;
    box-shadow: var(--standard-shadow);
}

.description h2 {
    margin-top: 3rem;
}

/* Rating */
.rating {
    margin-top: var(--spacing);
    text-align: center;
    padding: 1rem;
    border: 3px solid var(--title-color);
    border-radius: var(--border-radius);
    background: var(--highlight-bg-color);
    box-shadow: 0px 0px 10px var(--title-shadow-color);
    font-family: var(--primary-font);
}

.rating h3 {
    font-size: 1rem;
    margin: 1rem 0 0 0;
}

.stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.star {
    width: var(--icon-size);
    height: var(--icon-size);
}

.half-star {
    width: calc(var(--icon-size) / 2);
    height: var(--icon-size);
    overflow: hidden;
}

.final-score-title {
    color: var(--highlight-color);
}

.stars.final-score {
    margin: 2rem;
    display: flex;
    justify-content: center;
    transform-origin: center;
    flex-direction: column;
    gap: 1rem;
}

.stars.final-score>* {
    transform: scale(1.15);
}

.stars.final-score>.stars {
    animation: sparkle 1.5s infinite alternate ease-in-out;
}

/* Gallery */
.gallery {
    margin-top: var(--spacing);
    padding: var(--spacing);
    background: var(--carousel-background);
    border-radius: var(--border-radius);
    box-shadow: var(--standard-shadow);
    height: auto;
}

.gallery .carousel-inner {
    padding-top: 1rem;
}

.gallery img {
    height: 400px !important;
    max-height: 400px;
    width: auto;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.gallery img {
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

/* Modal */
.modal-content {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.9), rgba(173, 161, 161, 0.95));
    color: var(--text-color);
    box-shadow: var(--shadow-highlight);
    border-radius: var(--border-radius);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: auto;
    max-width: 95vw;
    max-height: 95vh;
    backdrop-filter: blur(10px);
    animation: popIn 0.4s ease-in-out;
}

.modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-body img {
    max-width: 200%;
    max-height: 200%;
    width: auto;
    height: auto;
    border-radius: var(--border-radius);
}

.modal-content button {
    margin: 2rem;
}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: none;
    width: auto;
}

/* Carousel Navigation Buttons */
.button-slider-container {
    background: var(--carousel-button-bg);
    border-radius: 37%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    margin: 2rem;
    border-radius: 999px;
}

@media (hover: hover) {
    .button-slider-container {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .gallery:hover .button-slider-container {
        opacity: 1;
    }
}

.button-slider-container.touch-visible {
    opacity: 1 !important;
}

/* Curiosities */
.curiosities {
    margin-top: var(--spacing);
    padding: var(--spacing);
    background: var(--highlight-bg-color);
    border: 3px solid var(--border-highlight);
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 10px var(--shadow-highlight);
}

.curiosities h2 {
    color: var(--highlight-color);
}

.curiosity {
    margin-top: var(--spacing);
    margin: 1.25rem 0;
    padding: 1rem;
    background: var(--highlight-bg-color);
    border-left: 5px solid var(--highlight-color);
    text-align: left;
    font-family: var(--primary-font);
    font-size: 0.9rem;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.curiosity:hover {
    box-shadow: 0px 8px 20px var(--black-shadow);
    transform: scale(1.01);
}

.curiosity h3 {
    margin-top: 1rem;
    color: var(--highlight-color);
    font-size: 0.9rem;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out, font-size 0.3s ease-in-out;
    line-height: 1.02rem;
}

.curiosity:hover h3 {
    color: var(--highlight-color);
    text-shadow: 0px 0px 8px var(--highlight-shadow-color);
    font-size: 1.01rem;
}

/* Responsive Styles for Mobile */
@media screen and (max-width: 768px) {
    h1 {
        font-size: calc(var(--h1-size) * 0.75);
        margin-left: 0;
        margin-right: 0;
    }

    h2 {
        font-size: calc(var(--h2-size) * 0.75);
        margin-left: 0;
        margin-right: 0;
    }

    p {
        font-size: calc(var(--h2-size) * 0.75);
        margin-left: 0;
        margin-right: 0;
    }

    .title-name {
        font-size: calc(var(--h1-size) * 0.6);
    }

    .highlight-banner .highlight-text p {
        font-size: 1.25rem;
    }

    .highlight-icon.material-symbols-outlined {
        visibility: hidden;
        display: none;
    }

    .rating h3 {
        font-size: 0.9rem;
    }

    .stars.final-score {
        margin: 1rem;
        transform: scale(1);
    }

    .stars.final-score>* {
        transform: scale(1);
    }

    .gallery img {
        height: 250px !important;
        max-height: 250px;
    }

    .curiosity {
        font-size: 0.8rem;
    }

    .curiosity h3 {
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 768px) {
    .modal-content {
        padding: 1rem;
    }

    .modal-content button {
        margin: 1rem auto;
        display: block;
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .button-slider-container {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 20px;
        height: 20px;
        margin: 0;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 15%;
    }
}