@import url('variables.css');

@font-face {
    font-family: 'Gigode';
    src: url('../fonts/Gidole-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --info-box-font: 'Gigode', sans-serif;
    --info-box-bg-color: linear-gradient(135deg, #f0f0f0, #d9d9d9);
    --info-box-shadow: 0px 8px 16px var(--black-color);
    --info-box-shadow-hover: 0px 0px 30px var(--title-shadow-color);
    --info-box-icon-color: var(--title-shadow-color);
    --info-box-icon-size: 3rem;
    --info-box-font-size: 1.3rem;
    --info-box-text-color: var(--black-color);
    --info-box-remarked-text-color: var(--secondary-color);
    --info-box-lines-color: var(--primary-soft-color);
}

.info-box {
    background: var(--info-box-bg-color);
    font-size: 1.3rem;
    text-align: center;
    padding: 3rem;
    margin: 40px 0;
    border-radius: var(--border-radius);
    box-shadow: var(--info-box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info-box:hover {
    transform: translateY(-5px);
    box-shadow: var(--info-box-shadow-hover);
}

.info-box:hover .info-box-icon {
    animation: up-down-loop 2s infinite linear;
}

.info-box .info-box-text {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 0;
    border-top: 2px solid var(--info-box-lines-color);
    border-bottom: 2px solid var(--info-box-lines-color);
}

.info-box .info-box-text p {
    font-family: 'Gigode', sans-serif;
    color: var(--info-box-text-color);
    margin: 0;
    line-height: 1.5;
    font-style: italic;
    font-size: var(--info-box-font-size);
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 3px var(--transparent-grey);
}

.info-box .info-box-keyphrase {
    color: var(--info-box-remarked-text-color);
    font-weight: bold;
}

.info-box .info-box-icon {
    font-size: var(--info-box-icon-size);
    color: var(--info-box-icon-color);
}

@media (max-width: 575.98px) {
    :root {
        .info-box .info-box-text p {
            font-size: 1.25rem;
        }
        
        .info-box .info-box-icon.material-symbols-outlined {
            visibility: hidden;
            display: none;
        }
    }
}

