/* Import Variables */
@import url('variables.css');

p {
    text-align: center;
}

h2 {
    line-height: 2rem;
}

body {
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color), var(--tertiary-color));
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    color: var(--white-color);
    align-items: center;
    height: auto;
    min-height: 100vh;
}

/* Tarjeta del resultado */
#overlay-container {
    width: auto;
    max-width: 600px;
    padding: 2rem;
    background: rgba(34, 34, 34, 0.85);
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    height: auto;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: var(--spacing);
}

#overlay-container h2 {
    color: var(--title-color);
    margin: 0;
    padding: 0;
}

#overlay-container h3 {
    color: lightgray;
}

#overlay-message {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

#overlay-score {
    font-size: 1.25rem;
    font-weight: bold;
}

#overlay-celebration {
    height: 200px;
}

/* Animación fade-in */
.fade-in {
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 480px) {
    body {
        display: block;
    }

    #overlay-container {
        margin: 1rem;
    }
}