/* Variables Stylesheet */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Color Palette - Gaming Inspired */
:root {
    --primary-color: #54619f;
    --secondary-color: #ff416c;
    --tertiary-color: #1b1b2f;
    
    --title-color: #ffcc00;
    --text-color: #e0e0e0;
    --title-shadow-color: rgba(255, 223, 0, 0.6);
    
    --transparent-bg-color: rgba(30, 30, 30, 0.85);
    
    --card-background: rgba(40, 40, 60, 0.85);
    --card-shadow: rgba(0, 0, 0, 0.6);
    
    --highlight-color: #00ffcc;
    --border-highlight: #00ff99;
    --shadow-highlight: rgba(0, 255, 153, 0.6);
    --highlight-bg-color: rgba(112, 203, 231, 0.06);
    
    --modal-bg-color: rgba(30, 30, 40, 1);
    --carousel-button-bg: rgba(50, 50, 80, 0.7);

    --line-height-standard: 1.8;
}

/* Typography */
:root {
    --primary-font: 'Press Start 2P', cursive;
    --secondary-font: 'Roboto', sans-serif;
}

/* Font Sizes */
:root {
    --h1-size: 2rem;
    --h2-size: 1.25rem;
    --paragraph-size: 1.25rem;
    --icon-size: 2rem;
    --h1-padding: 2rem;
    --h2-margin: 1.25rem;
}

/* Spacing & Borders */
:root {
    --border-radius: 10px;
    --spacing: 1.5rem;
    --standard-shadow: 0px 0px 15px var(--shadow-color);
}